// Colors
$black: #232329;
$white: #ffffff;
$red: #ff3a1f;
$grey: #d0d0d0;
$lightGrey: #f7f7f7;
$purple: #acadcc;
$lightRed: #ff675f;
$violet: #873299;

$f1: "Roboto", sans-serif;

// Responsive
$screen-xss-max: 479px;
$screen-xs-min: 480px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
$screen-lg-max: 1439px;
$screen-xl-min: 1440px;
$screen-xl-max: 1600px;
