.numbers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__single {
    text-align: center;
    position: relative;

    @media (max-width: $screen-xs-max) {
      &:before {
        content: "";
        width: 10px;
        height: 50px;
        background-color: #ffffff;
        position: absolute;
        left: -25px;
        top: -22px;
        transform: rotate(65deg);
        z-index: 10;
      }

      &:nth-of-type(1) {
        order: 1;
        border-left: 25px solid $red;
      }
      &:nth-of-type(2) {
        order: 3;
        border-left: 25px solid $grey;
      }
      &:nth-of-type(3) {
        order: 5;
        border-left: 25px solid $violet;
        margin-bottom: 0;

        &:after {
          content: "";
          width: 10px;
          height: 50px;
          background-color: #ffffff;
          position: absolute;
          left: -25px;
          bottom: -28px;
          transform: rotate(65deg);
          z-index: 10;
        }
      }
      &:nth-of-type(4) {
        order: 2;
        border-left: 25px solid $lightRed;
      }
      &:nth-of-type(5) {
        order: 4;
        border-left: 25px solid $purple;
      }
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      max-width: 252px;
      justify-content: center;

      @media (max-width: $screen-xs-max) {
        max-width: 100%;
        padding: 0 20px 20px 20px;
      }

      span {
        @include font(60px, 400, $black, none, 72px, 0.3px);
        display: block;
        width: 100%;
        padding: 15px 0;

        @media (max-width: $screen-xs-max) {
          font-size: 40px;
          line-height: 50px;
          padding: 10px 0;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
          font-size: 45px;
          line-height: 55px;
        }
      }
      p {
        b {
          color: $red;
        }
      }
    }

    &--three {
      width: 33.33%;

      @media (max-width: $screen-xs-max) {
        width: 100%;
        span {
          order: 1;
        }

        p {
          order: 2;
        }
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        width: 21.33%;
      }
    }

    &--two {
      width: 500px;

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        width: 50%;
      }

      span {
        order: 1;
      }

      p {
        order: 2;
      }

      & > div {
        @media (min-width: $screen-sm-min) {
          max-width: 280px;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
          max-width: 80%;
        }
      }
    }

    &--center {
      @media (min-width: $screen-sm-min) {
        & > div {
          margin: auto;
        }
      }
    }

    &--right {
      @media (min-width: $screen-sm-min) {
        & > div {
          margin-left: auto;
        }
      }
    }
  }
  img {
    width: 100%;
    display: none;

    @media (min-width: $screen-xs-max) {
      display: block;
    }
  }
}
